* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: #FFA246;
    border-radius: 0 0 40px 40px;
    padding: 1rem 5rem;

}

#menu {
    display: none;
    cursor: pointer;

    background: transparent;
    border: none;

    transition: transform 1s ease;
    height: 2rem;

}


#menu:hover {
    transform: rotate(90deg);
}

#menu #close {
    display: none;
}

header.isActive #menu #close {
    display: inline;
}

header.isActive #open {
    display: none;
}


nav {
    display: flex;
    justify-content: space-between;
}

#navigation {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 5rem;
}

#navigation a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

#navigation a:hover {
    color: #f1f1f1;
}

#social {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#social>a {
    text-decoration: none;
    color: #010101;
}

.icon {
    font-size: 20px;
    color: #ffffff;
}

@media (max-width: 1020px) {

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #FFA246;
        box-shadow: 0 0 0 transparent;
        overflow: hidden;

        height: 60px;
        transition: height 0.5s ease, box-shadow 0.5s ease;
    }

    header.isActive {
        height: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

    nav {
        flex-direction: column;
        position: relative;
    }

    .topnav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: block;
    }

    #navigation,
    #social {
        opacity: 0;
    }

    header.isActive #navigation,
    header.isActive #social {
        opacity: 1;

    }

    #navigation {
        flex-direction: column;
        align-items: start;
        gap: 1rem;

        margin: 2rem 0;
    }

    #social {
        justify-content: end;
        gap: .5rem;
    }
}